
.search-bar{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 5px;
    border-radius: 5px;
}
ul.search-result{
    padding-left: 0%; 
};


h1{
  background: #f26925;
  color: white;
  min-width: 260px;
  width: 100%;
  margin-bottom: 0px;
  padding: 12px;
  border-color: #f26925;
  text-align: center;
  font-size: 25px;
  // white-space:nowrap;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {display: block;}

.datePicker{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 5px;
  border-radius: 5px;
}
.dateText{
  width: 80%;
}

.dataText{
  width: 80%;
}


// .button {
//   padding: 1px;
//   color: white !important;
//   font-size: 20px;
//   border-radius: 0px;
//   background: #f26925;
//   border: 0px solid #f26925;
//   margin: 0px;
// }
// .buttons{
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-gap: 10px;
// }
.btn{
  font-size: 18px;
  margin-top: 20px;
  height: 35px;
  width: 180px;
  background: #f26925;
  border-color: #f26925;
  color: white;
  font-weight: strong;
  padding: 1px;
} 

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) 
.show {display:block;}
/* .search-result {

    
    li {
        width: 100%;
        padding: 5px;
        border-radius: 1px;

        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        cursor: pointer;
        list-style-type: none;
        
        a {
            // color: #eee;
            display: block;
            text-decoration: none;            
        }
        a:hover {
            // color: #0056b3;
            color: #f26925;
        };
    };
    li:hover {
        background-color: #eee;
    }
    
}
h4 {
  font-weight: normal;
}
.orange-header {
    background: #f26925;
    color: white;
    min-width: 260px;
    width: 100%;
    margin-bottom: 0px;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-color: #f26925;
    text-align: center;
    font-size: 25px;
    white-space:nowrap;
}

/* Slider CSS 
// We need to use ::ng-deep to overcome view encapsulation
// ::ng-deep {
//     .custom-slider .ng5-slider .ng5-slider-bar {
//       background: #ffe4d1;
//       height: 2px;
//     }
//     .custom-slider .ng5-slider .ng5-slider-selection {
//       background: #f26925;
//     }
  
//     .custom-slider .ng5-slider .ng5-slider-pointer {
//       width: 8px;
//       height: 16px;
//       top: auto; /* to remove the default positioning 
//       bottom: 0;
//       background-color: #333;
//       border-top-left-radius: 3px;
//       border-top-right-radius: 3px;
//     }
  
//     .custom-slider .ng5-slider .ng5-slider-pointer:after {
//       display: none;
//     }
  
//     .custom-slider .ng5-slider .ng5-slider-bubble {
//       bottom: 14px;
//     }
  
//     .custom-slider .ng5-slider .ng5-slider-limit {
//       font-weight: bold;
//       color: #f26925;
//     }
  
//     .custom-slider .ng5-slider .ng5-slider-tick {
//       width: 3px;
//       height: 15px;
//       margin-left: 4px;
//       border-radius: 0;
//       background: #ffe4d1;
//       top: -1px;
//     }
  
//     .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
//       background: #f26925;
//     }
//   }*/