
body {
    background-color: #f8f9fa!important
}

.search-bar{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 5px;
    border-radius: 5px;
}
ul.search-result{
    padding-left: 0%; 
};
.search-result {
    
    li {
        width: 100%;
        padding: 5px;
        border-radius: 1px;

        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        cursor: pointer;
        list-style-type: none;
        
        a {
            // color: #eee;
            display: block;
            text-decoration: none;            
        }
        a:hover {
            // color: #0056b3;
            color: #f26925;
        };
    };
    li:hover {
        background-color: #eee;
    }
    
}



.orange-header {
    background: #f26925;
    color: white;
    min-width: 260px;
    width: 100%;
    margin-bottom: 0px;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-color: #f26925;
    text-align: center;
    font-size: 25px;
    white-space:nowrap;
}

/* Slider CSS */
// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: orange;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      color: orange;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: orange;
    }
  }