<!-- skillTypeBuckets list  -->
<div id="CContent" class="container">
  <div class="row justify-content-center">
    <div class="card w-100">

      <h6 class="card-header">Candidates</h6>

      <div class="card-body" id="allSkillTypesDiv">
        <!-- List of all buckets -->
        <!-- <div class="list-group"> -->
          <!-- clickable to route to Bucket -->
          <!--* routeToBucket() -->
          <!-- <a class="list-group-item list-group-item-action" *ngFor="let bucket of buckets| bucketFilter:filter" (click)="routeToBucket(bucket);">
            <b>{{bucket.bucketCategory}}</b>
            <br>
            <small>{{bucket.bucketDescription}}</small> -->

            <!--* editBucket(bucket), passes the bucket selected to component side.
                * open(edit), calls modal to open. -->
            <!-- <div class="col-sm" (click)="$event.cancelBubble=true; ">
              <i id="xIcon">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="bucket.isActive" (change)="updateBucket(bucket);">
                  <span class="slider round" placement="top" ngbTooltip="active"></span>
                </label>
              </i>
            </div>
            <i id="penIcon" class="fa fa-pencil pull-right" (click)="editBucket(bucket); open(edit)" placement="top"
              ngbTooltip="edit">
            </i> -->

          <!-- </a>
        </div> -->

      </div>

      <!--* 'open(create)' -->
      <button type="button" class="btn btn-primary btn-sm" (click)="open(content)">Add New Candidate</button>
    </div>
  </div>
</div>

<!-- Modal for creating candidate-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- If a skillType got clicked, Title is Edit -->
    <h4 class="modal-title">Create a Candidate</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addSkillTypeForm="ngForm">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name:&nbsp;</label>
        <div class="col-sm-10">
          <input type="text" id="candidateName" name="candidateName" placeholder="Candidate Name" class="form-control" required ngModel>
        </div>
        <label for="name" class="col-sm-2 col-form-label">Description:&nbsp;</label>
        <div class="col-sm-10">
          <input type="text" id="candidateDesc" name="candidateDesc" placeholder="Candidate Description" class="form-control" required ngModel>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" data-dismiss="modal" class="btn btn-outline-dark revatureOrange" (click)="updateSkillType(addSkillTypeForm.value); savedSuccessfully(); skillTypeUpdate(singleSkillType)"
      [disabled]="error" *ngIf="singleSkillType">Save</button>
    <button type="button" data-dismiss="modal" class="btn btn-outline-dark revatureOrange" (click)="c('Close click'); createNewSkillType(addSkillTypeForm.value)"
      *ngIf="!singleSkillType" [disabled]="!addSkillTypeForm.valid">Create</button>
  </div>
</ng-template>

<!--Ending of add new candidate modal -->