<div class="container">
	
	<!-- NgBootstrap Tab -->
	<ngb-tabset>

		<!-- content of 'Skill Types' -->
	  <ngb-tab title="Skill Types" id ="tab-1">
	    <ng-template ngbTabContent>

	    	<!-- project 'skillTypes' component -->
	    	<app-skill-types></app-skill-types>

	    </ng-template>
	  </ngb-tab>

	  <!-- content of 'All Buckets' -->
	  <ngb-tab title="All Buckets" id="tab-2">
	    <ng-template ngbTabContent>
	    	<!-- project 'skillType-buckets' component -->
	    	<app-skill-type-buckets></app-skill-type-buckets>

	    </ng-template>
	  </ngb-tab>
	</ngb-tabset>

</div>