<div class="modal-header">
  <h4 class="modal-title">{{question.questionText}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4> Sample Responses </h4>
  <p>1 - {{question.sampleAnswer1}}</p>
  <p>2 - {{question.sampleAnswer2}}</p>
  <p>3 - {{question.sampleAnswer3}}</p>
  <p>4 - {{question.sampleAnswer4}}</p>
  <p>5 - {{question.sampleAnswer5}}</p>
  <p>Score: {{questionScore.score}}</p>
  
  <div class="wrapper text-center" id="scoreselector">
  <div [(ngModel)]="questionScore.score" ngbRadioGroup name="radioBasic" class="btn-group btn-group-toggle text-center" role="group">
    <label ngbButtonLabel class="btn btn-outline-dark">
      <input ngbButton type="radio" [value]=1>1
    </label>
    <label ngbButtonLabel class="btn btn-outline-dark">
        <input ngbButton type="radio" [value]=2>2
    </label>
    <label ngbButtonLabel class="btn btn-outline-dark">
        <input ngbButton type="radio" [value]=3>3
    </label>
    <label ngbButtonLabel class="btn btn-outline-dark">
        <input ngbButton type="radio" [value]=4>4
    </label>
    <label ngbButtonLabel class="btn btn-outline-dark">
        <input ngbButton type="radio" [value]=5>5
    </label>
      
  </div>
  <p> </p>
</div>
  <textarea class="form-control" placeholder="Optional Feedback" [value]="questionScore.commentary"></textarea>
</div>
<div class="modal-footer answer-bank-end">
    <span data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="flag-button glyphicon glyphicon-flag color-red"></span>
  <button type="button" class="btn btn-outline-dark" (click)="saveQuestionScore(); activeModal.close('Close click');">Submit Score</button>
</div>
<app-violation-flag></app-violation-flag>
