<div class="container">
  <div class="test">
    <br>
    <!--<button type="button" class="btn btn-secondary" (click)="buttonChange('ACTIVE')">
      <strong>Active</strong>
    </button>
    <button type="button" class="btn btn-secondary" (click)="buttonChange('ROLE_INACTIVE')">
      <strong>Inactive</strong>
    </button>-->

    <button type="button" class="btn btn-secondary" (click)="open(addTrainerContent)" style='float: right;'>
      <strong>Create Trainer
        <i class="fa fa-plus" aria-hidden="true"></i>
      </strong>
    </button>
  </div>

  <!--Trainers table. Displays the trainer's name, title, email, and role, and the icons to
add or edit a trainer-->
  <div id="trainers-table" class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="trainerList">
        <tr *ngFor="let trainer of filteredTrainers">
          <td>
            {{trainer.firstName}} {{trainer.lastName}}
          </td>
          <td>
            {{trainer.title}}
          </td>
          <td>
            {{trainer.email}}
          </td>
          <td>
            {{trainer.role.role}}
          </td>
          <td>
            <i class="fa fa-user" style="color:#F26925;" (click)="goToProfile(trainer)"></i>
          </td>
          <td>
            <i class="fa fa-pencil" style="color:#F26925;" (click)="editTrainer(content, trainer)"></i>
          </td>
          <td>
            <i class="fa fa-times" style="color:#F26925;" (click)="showModal(deactivate)"></i>
            <ng-template #deactivate let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Deactivate Trainer</h4>
                <button type="button" class="close close2" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 class="ng-binding">
                  Are you sure you want to delete {{trainer?.name}}?
                </h3>
              </div>
            <div class="modal-footer">
              <input type="submit" (click)="d('Confirmed'); deactivateTrainer(trainer);" value="Delete" class="btn btn-lg btn-danger">
              <button type="button" class="btn btn-default" (click)="d('cancel')">Cancel</button>
            </div>
          </ng-template>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <!--Model for updating trainer-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Edit Trainer</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    <div class="modal-body">
      <form #editTrainer="ngForm" [formGroup]="rForm">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!-- Field for Trainer first name -->
              <label class="col-sm-2 control-label text-nowrap" for="name">First Name:</label>
              <input type="text" class="form-control" id="first name" name="name" formControlName="firstName" placeholder="First Name"
              />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!-- Field for Trainer last name -->
              <label class="col-sm-2 control-label text-nowrap" for="name">Last Name:</label>
              <input type="text" class="form-control" id="last name" name="name" formControlName="lastName" placeholder="Last Name" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!-- Field for email -->
              <label class="col-sm-2 control-label text-nowrap" for="email">Email:</label>
              <input type="text" class="form-control" formControlName="email" id="email" name="email" placeholder="Email" type="email" />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!-- dropdown/filter for Trainer Title -->
              <!-- Datalist to display titles -->
              <label class="col-sm-2 control-label text-nowrap" for="title">Title</label>
              <input class="form-control" formControlName="title" (ngModelChange)="titleChange($event)" list="browsers" name="browser">
              <datalist id="browsers">
                <option [value]="title" *ngFor="let title of titles">
              </datalist>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!-- Dropdown for Trainer role/role -->
              <label class="col-sm-2 control-label text-nowrap" for="role">Role</label>
              <select class="form-control" formControlName="role" (ngModelChange)="roleChange($event)" name="role" placeholder="Select role">
                <option value="" disabled>Select role</option>
                <option [value]="userRole.role" *ngFor="let userRole of userRoles">{{userRole.role}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">

      <button type="submit" data-dismiss="modal" class="btn btn-update" [disabled]="!rForm.valid" (click)="updateTrainer(editTrainer); c('Close click')">Update</button>

      <button type="button" class="btn btn-default" (click)="c()">Close</button>
    </div>
  </ng-template>

  <!-- Modal for creating trainer -->
  <ng-template #addTrainerContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add Trainer</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form #addTrainerForm="ngForm" [formGroup]="addForm">

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <!-- Field for Trainer first name -->
              <label class="col-sm-2 control-label text-nowrap" for="name">First Name:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="first name" name="firstName" formControlName="firstName" placeholder="First Name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <!-- Field for Trainer last name -->
              <label class="col-sm-2 control-label text-nowrap" for="name">Last Name:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" placeholder="Last Name"
                />
              </div>
            </div>

            <div class="col-md-6">
              <!-- Field for Trainer email -->
              <label class="col-sm-2 control-label text-nowrap" for="email">Email:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Email" />
              </div>
            </div>
            
            <div class="col-md-6">
              <!-- Field for Trainer password -->
              <label class="col-sm-2 control-label text-nowrap" for="password">Password:</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password" />
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- dropdown/filter for Trainer Title -->
              <!-- Datalist to display titles -->
              <label class="col-sm-2 control-label text-nowrap" for="title">Title:</label>
              <div class="col-sm-12">
                <input list="trainerTitle" formControlName="title" type="text" class="form-control" id="title1" name="title" placeholder="Enter Title"
                />
                <!-- Dropdown for Trainer role/role -->
                <datalist id="trainerTitle">
                  <option [value]="title" *ngFor="let title of titles">{{title}}</option>
                </datalist>
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-sm-2 control-label text-nowrap" for="role">Role:</label>
              <div class="col-sm-12">
                  <!-- <select class="form-control" formControlName="role" (ngModelChange)="newroleChange($event)" name="role" required [(ngModel)]="role">
                      <option value="1">Trainer</option>
                      <option value="2">Panel</option>
                    </select> -->
                <select class="form-control" formControlName="role" (ngModelChange)="newroleChange($event)" name="role" placeholder="Select Role">
                  <option value="" disabled>Select Role</option>
                  <option [value]="userRole.role" *ngFor="let userRole of userRoles">{{userRole.role}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" [disabled]="!addForm.valid" (click)="addTrainer(addTrainerForm); c()" class="btn btn-add">Save</button>
      <button type="button" class="btn btn-default" (click)="c(); this.initFormControl();">Close</button>
    </div>

  </ng-template>
</div>