<div id="introduction-container">
  <h1>Candidate Introduction</h1>
  <div id="introduction-content">
    <div class="info">
      <div class="name">
        <label>Name: </label>
        <p>{{currentScreening.candidate.name}}</p>
      </div>
      <div class="track">
        <label>Track: </label>
        <p>{{currentScreening.track.title}}</p>
      </div>
    </div>
    <hr>
    <div>
      <div class="form-group comment-container">
        <app-violation-flag (flagChange)="getMessage($event)"></app-violation-flag>
        <div>
          <br>
          <label for="inputComment">Overall Introduction Feedback</label>
          <br>
          <textarea class="form-control" (input)="comment = $event.target.value" id="inputComment" name="commentBox" placeholder="Optional Feedback"></textarea>
          <br>
          <button class="btn" (click)="onSubmit()" id="submit-button" routerLink="/screening/questions" routerLinkActive="activeLink">Begin Questions</button>
        </div>
      </div>
    </div>
  </div>
</div>
