#STcontent {
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-header {
  background-color: #F26925;
}

h6 {
  text-align: center;
  color: white;
}

#xIcon {
  float: right;
}

#skillTypesDiv{
  overflow : auto;
  height: 420px;
}

/*Custom scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d; 
  border-radius: 5px;
}

#penIcon {
  color: #F26925;
  margin-right: 10px;
}

#traIcon {
  color: red;
}

#traIcon:hover {
  color:black;
}

#penIcon:hover{
  color:black;
}

#xIcon{
  margin-right: 10px;
}

i {
  cursor: pointer;
  cursor: hand;
}

#buckets{
  position: absolute;
  left:33%;
  width: 80%;
}

/** not being used **/
.marker{
  position:absolute;
  left:95%;
}

/** not being used **/
.marker2{
  position: absolute;
  left:100%;
}

#list-item{
  border: solid black 0.5px;
}

.percentSign{
  background-color: inherit;
  border-right: 1px solid #ccc;
}

.modal-header {
	background-color: #F26925;
}

.modal-title {
  text-align: center;
  color: white;
}

.close {
	color: white;
}

.bucketWeight{
  text-align: right;
}

.revatureOrange{
  background-color: #F26925;
  color: white;
}

#xIcon:hover .removeToolTip{
  visibility: visible;
}

.removeToolTip{
  visibility: hidden;
  position: absolute;
  float: right;
  left: 90%;
  top:70%;
}

#penIcon:hover .editToolTip{
  visibility: visible;
}

.editToolTip{
  color: black;
  visibility: hidden;
  position: absolute;
  float: right;
  width: 10%;
  left: 87%;
  top:70%;
}

/*
.editToolTip:after {
	z-index: -1;
	position: absolute;
    top: 98.1%;
    left: 70%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 50px #e15915;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F26925;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F26925;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

  /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#bucket_bins{
  margin-bottom: 2px;
  opacity: 1;
}

#xButton{
  left: 109%;
  opacity: 1;
  position: absolute;
  width: 10%;
  height: 68%;
  padding-bottom: 10%;
}

#xButton:hover{
  opacity: 0.5;
}

.pillButtons{
  margin: 5px;
  overflow: hidden;
  border-radius: 9%;
  width: 85px;
  height: 47px;
  justify-content: center;
  font-size: 12px;
}

#font-fix{
  font-size: 13px;
}