<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 tab-panes">
            <ul class="nav nav-tabs justify-content-end">
                <li>
                    <app-createlocation></app-createlocation>
                </li>
            </ul>
        </div>
    </div>
    <div id="locations-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Active Status</th>
                    <th>Company</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations">
                    <td *ngIf="location.active == true;then activated else deactivated">
                    </td>
                    <td>
                        {{location.company}}
                    </td>
                    <td>
                        {{location.street}} {{location.city}}, {{location.state}} {{location.zipcode}}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6 text-right">
                                <app-editlocation [currEditLocation]="location"></app-editlocation>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span *ngIf="location.active == true">
                                    <app-deactivatelocation [location]="location"></app-deactivatelocation>
                                </span>
                                <span *ngIf="location.active != true">
                                    <app-reactivatelocation [location]="location"></app-reactivatelocation>
                                </span>
                            </div>
                        </div>
                    </td>
                    <!-- <td *ngIf="location.active == true;then deactivateButton else activateButton">
                    </td> -->
                </tr>
            </tbody>
        </table>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Green check for DEACTIVATED locations to REACTIVATE-->
<ng-template #activateButton>
    <i class="fa fa-check" id="reactivate" style="color:#81f575;"></i>
</ng-template>

<!-- Red cross for ACTIVATED locations to DEACTIVATE-->
<ng-template #deactivateButton>
    <app-deactivatelocation [location]="location"></app-deactivatelocation>
</ng-template>

<!-- Green check for activated locations -->
<ng-template #activated>
    <td>
        <i class="fa fa-check fa-2x" style="color:#81f575;"></i>
    </td>
</ng-template>

<!-- Red cross for deativated locations -->
<ng-template #deactivated>
    <td>
        <i class="fa fa-times fa-2x" style="color:#ff0000;"></i>
    </td>
</ng-template>