<router-outlet></router-outlet>
<!-- The Modal -->
    <div id="myModal" class="modal animated fadeIn" [style.display]="toggleBeginScreeningPrompt()">
    <!-- Modal content -->
    <div class="modal-content">

        <h2 >Are you sure you'd like to leave this screening? </h2>
        <div class="buttons">
          <button id ="leave" class="btn" (click)="leaveCheck =true" routerLink="/home">Yes</button>
          <button id="stay" class="btn" (click)="showBeginScreeningPrompt = false; leaveCheck=false">Cancel</button>

        </div>
    </div>
</div>