/*
@font-face {
    font-family: 'Futura-Std-Book';
	src: url('../../../../../assets/fonts/Futura-Std-Book.otf') format('opentype');
}
*/
#deactivate {
    cursor: pointer;
}
.close {
   cursor: pointer;
}

.close2 {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

div {
    display: block;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    max-width: 100%;
    overflow-x: auto;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h3, h3 {
    font-size: 24px;
}
.h4, h4 {
    font-size: 18px;
}
*/

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h3 {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/*
body {
   /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: 'Futura-Std-Book';
}
*/
.glyphicon-remove {
    color: #ff3131;
    width: 100%;
}

.glyphicon {
    top: 0px;
    font-weight: 1500;
    cursor: pointer;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-header {
    background-color: rgb(241, 242, 244);
    border-radius: 6px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn-danger:hover {
    background-image: linear-gradient(to bottom,#c54b49 0,#ad2826 100%);
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
}



.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

.btn-danger {
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    border-color: #ccc;
}

.btn-default {
    color: #333;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    background-color: #fff;
}

.btn-default:hover {
    background-image: linear-gradient(to bottom,rgb(240, 239, 239) 0,#cccbcb 100%);
}