article {
    /* border: 1px solid black; */
    font-family: "Helvetica Neue", Helvetica, sans-serif; 
}

h1 {
    margin: 5px;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol li {
    font-size: 1em;
    counter-increment: step-counter;
    margin: 10px;
}

ol li::before {
        list-style-type: none;
        content: counter(step-counter);
        font-size: 80%;
        background-color: rgb(25, 107, 201);
        color: white;
        font-weight: bold;
        padding: 7px 15px;
        margin-right: 5px;
        border-radius: 3px;
}