

<!-- Tracks List-->
<div id="STcontent" class="container">
    <div class="row justify-content-center">
        <div class="card w-100">
            <h6 class="card-header">All Tracks</h6>
            <div class="card-body" id="tracksDiv">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" *ngFor="let track of allTracks">
                        {{track.title}}
                        <i id="xIcon">
                            <label class="switch">
                                <input type="checkbox" [checked]=track.active (change)="trackUpdate(track)" >
                                <span class="slider round" placement="top" ngbTooltip="deactivate" *ngIf="track.active"></span>
                                <span class="slider round" placement="top" ngbTooltip="activate" *ngIf="!track.active"></span>
                            </label>
                        </i>
                        <i id="penIcon" class="fas fa-pencil-alt pull-right" (click)="editTrack(track); open(content)" placement="top" ngbTooltip="edit">
                        </i>
                    </a>
                </div>
            </div>
            <button class="btn btn-primary btn-sm" (click)='open(content)'>Create New Track</button>
      </div>
    </div>
</div>

<!-- Modal for creating and editting a new Track (Track) -->
<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <!-- If a track got clicked, Title is Edit -->
          <h4 class="modal-title" *ngIf="!singleTrack">Create Track</h4>
          <h4 class="modal-title" *ngIf="singleTrack">Edit Track</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

  <div class="modal-body">
      <form  #addTrackForm="ngForm">
          <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label"> Name:&nbsp;</label>
              <div class="col-sm-10">
                  <input type="text" id="trackName" name=trackName class="form-control" *ngIf="singleTrack" required #trackName="ngModel" [(ngModel)]="singleTrack.title">
                  <input type="text" id="trackName" name="trackName" placeholder="Track name" class="form-control" *ngIf="!singleTrack" required ngModel>
              </div>
          </div>
          <div *ngIf="singleTrack">
              <div class="form-group row">
                  <label for="categories" class="col-sm-2 col-form-label">Categories:</label>
                  <div class="col-sm-10">
                      <div *ngFor="let category of singleTrackCategories; let index = index">
                          <div class="input-group col-sm-9 rounded" style="margin-bottom: 1%;">
                              <span class="col-sm-5 revatureOrange rounded" id="font-fix">{{category.categoryDescription}}</span>
                              <div class = "placeholder" data-placeholder="%">
                              <input type="number" #weight name="weight" class="form-control border-left-0 categoryWeight" min="0" max="100" [(ngModel)]="weight.weightValue" [ngModelOptions]="{standalone: true}" (keyup)="checkCategorySum(); checkMinMax(index)">
                              <input type="number" name="sum" class="form-control categoryWeight" [hidden]="true" [(ngModel)]="categoryWeightSum" *ngIf="categoryWeight">
                              </div>
                              <button id = "xButton" type="button" class="close col-sm-2 rounded" aria-label="Close" (click)="removeFromTrackCategories(category); checkCategorySum()" >
                              <span aria-hidden="true">&times;</span></button>
                          </div>
                      </div>
                      <br>
                      <p *ngIf="error" class="text-danger">The sum of the category weight percentages has to equal <strong>100</strong></p>
                  </div>
              </div>
              <div class="form-group row">    
                  <label for="inactiveCategories" class="col-sm-6 col-form-label">All Categories:</label>
                  <div class="col-sm-10 row catbox">
                    <span *ngFor="let category of allCategories">
                        <button type="button" class="input-group-addon pillButtons" (click)="addToTrackCategories(category)" *ngIf="!checkContains(category)">{{category.categoryDescription}}</button>
                    </span>
                </div>                    
            </div>
        </div>
    </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-outline-dark revatureOrange" (click)="updateTrack(addTrackForm.value); savedSuccessfully(); trackUpdate(singleTrack)" [disabled]="error" *ngIf="singleTrack">Save</button>
        <button type="button" data-dismiss="modal" class="btn btn-outline-dark revatureOrange" (click)="c('Close click'); createNewTrack(addTrackForm.value)" *ngIf="!singleTrack" [disabled]="!addTrackForm.valid">Create</button>
    </div>
</ng-template>



