<div class="login-div">
  <div class="img-div">
    <img  class="login-img" routerLink="/dashboard" class="rev-logo" src="assets/rev-logo.png" alt="revature">
  </div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-outline-dark">Login</button>
      <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
  </form>
</div>

<!-- <div class='login'>
  <h2 class='title'>Login</h2>
  <div>
    <input class='un' type="text" name="username" #username placeholder="username"/><br>
    <input class='pass' type="password" name="password" #password placeholder="password"/>
  </div>
  <a><button class='button' (click)= getUser(username.value,password.value)>Submit</button></a>
  
  
  <div id="message" style="color:red; display:none" >
    <p>Bad username/password</p>
  </div> -->

  <div *ngIf="debug" style="border: 5px solid red; width:500px;">
    <h3>Debug Panel</h3>
    <h5>user : John.Smith@revature.com</h5>
    <h5>pass : R3vatur3!</h5>
    <h3>Debug Panel</h3>
    <h5>user : Jane.Smith@revature.com</h5>
    <h5>pass : Password!2</h5>
    <h3>Debug Panel</h3>
    <h5>user : Paul.Walker@revature.com</h5>
    <h5>pass : Password!2</h5>
  </div>
  
  <!-- </div> -->
  <!-- <amplify-authenticator></amplify-authenticator> -->
  <!-- <amplify-auth-sign-in-core></amplify-auth-sign-in-core> -->

