/*###################
Final Report Container Styles 
###################*/
.final-report-container {
    margin: 25px 10%;
    min-width: 360px;
    max-width: 95vw;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px;
    /* padding-bottom: 128px; */
    overflow: auto;
}


#candidate-name{
    font-size:20px;
    margin-top: 20px;
}

#finalrep{
    margin-left: 20px;
    margin-right: 20px;
}

#finalcon{
    border-style: solid;
    border-color: #f26925;
    border-width: 2px;
    padding: 10px;
}

.centerit{
    text-align:center;
}

.copywow{
    text-align: center;
    margin: auto 5px;
    width: 240px;
    background: #f26925;
    border-color: #f26925;
    color: white;
}

h1{
    width: 100%;
    min-width: 260px;
    background: #f26925;
    color: white;  
    font-size: 20px;
    border-color: #f26925;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0px;
    
    padding: 12px;
    white-space:nowrap;
}
h2{
    font-size: 1.25em;
    margin-bottom: 15px;
}