<!--
  This Template is connected to the question component and displayed within the bucket template in caliber.
  It gets the currently selected bucket Id from the bucket service, displays all of the buckets questions and
  allows you to add questions to that bucket.
  The template starts with the table that is displayed and ends with the quesiton editor modal, which is displayed
  for adding and editing questions.
-->
<!--Questions Table Start-->
<div id="QContent" class="move" [@move]='state'>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card w-100">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-3">
              <a routerLink="/settings/main">
                <i class="fas fa-caret-left" aria-hidden="true"></i>
                Back to Categories
              </a>
            </div>
            <div class="col-sm-6">
              <div id="daTitle" *ngIf="currentBucket" style="display:inline-block">Questions for {{currentBucket.bucketDescription}}</div>
            </div>
          </div>
        </div>
        <div class="card-body" id="allQuestionsDiv">
          <div class="list-group" *ngFor="let question of questions">
            <a class="list-group-item list-group-item-action" *ngIf="question">
              {{question.questionText}}
              <i id="xIcon">
                <!-- Edit button/function enabled by changing "fa fa-pencil pull-right" to "fas fa-pencil-alt pull-right" -->
                <i id="penIcon" class="fas fa-pencil-alt pull-right" (click)="editQuestion(question); open(content)" placement="top"
                  ngbTooltip="edit"></i>
                  <i id="traIcon" class="fas fa-trash-alt pull-right" (click)="editQuestion(question);open(delete)" placement="top" 
                  ngbTooltip="delete"></i>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="question.isActive" (change)="changeQuestionStatus(question)">
                  <span class="slider round" placement="top" ngbTooltip="deactivate" *ngIf="question.isActive"></span>
                  <span class="slider round" placement="top" ngbTooltip="activate" *ngIf="!question.isActive"></span>
                </label>
              </i>
            </a>
          </div>
        </div>
        <button class="btn btn-primary btn-sm" *ngIf="currentBucket" (click)='setQuestionNull(); open(content);'>Create New Question</button>
      </div>
    </div>
  </div>
</div>
<!--Questions Table End-->
<!--Add new question modal Start-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title" *ngIf="!testSingleTrack">Question Editor</h6>
    <button type="button" class="close" aria-label="Close" (click)="updateQuestions();d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--Question Form Start-->
    <form #addQuestionForm="ngForm">
      <!--Add new question input text boxes-->
      <div class="form-group row">
        <label for="questionText" class="col-sm-3 col-form-label" min="0" max="100" align="right">Question:</label>
        <div class="col-sm-9">
          <input name="question" [(ngModel)]="question.questionText" type="text" id="questionText" placeholder="Question Text"
            class="form-control bucketWeight" min="0" max="100">
        </div>
      </div>
      <!--Answers Tab Start-->
      <br>
      <h2>Sample Answers:</h2>
      <div class="form-group row">
        <label for="one point answer" class="col-sm-3 col-form-label" min="0" max="100" align="right">One
          point:</label>
        <div class="col-sm-9">
          <input name="answer1" [(ngModel)]="sampleAnswers[0]" type="text" id="1pointAnswer" placeholder="sample answer"
            class="form-control" min="0" max="100">
        </div>
      </div>
      <div class="form-group row">
        <label for="two point answer" class="col-sm-3 col-form-label" min="0" max="100" align="right">Two
          point:</label>
        <div class="col-sm-9">
          <input name="answer2" [(ngModel)]="sampleAnswers[1]" type="text" id="2pointAnswer" placeholder="sample answer"
            class="form-control" min="0" max="100">
        </div>
      </div>
      <div class="form-group row">
        <label for="three point answer" class="col-sm-3 col-form-label" min="0" max="100" align="right">Three
          point:</label>
        <div class="col-sm-9">
          <input name="answer3" [(ngModel)]="sampleAnswers[2]" type="text" id="3pointAnswer" placeholder="sample answer"
            class="form-control" min="0" max="100">
        </div>
      </div>
      <div class="form-group row">
        <label for="four point answer" class="col-sm-3 col-form-label" min="0" max="100" align="right">Four
          point:</label>
        <div class="col-sm-9">
          <input name="answer4" [(ngModel)]="sampleAnswers[3]" type="text" id="4pointAnswer" placeholder="sample answer"
            class="form-control" min="0" max="100">
        </div>
      </div>
      <div class="form-group row">
        <label for="five point answer" class="col-sm-3 col-form-label" min="0" max="100" align="right">Five
          point:</label>
        <div class="col-sm-9">
          <input name="answer5" [(ngModel)]="sampleAnswers[4]" type="text" id="5pointAnswer" placeholder="sample answer"
            class="form-control" min="0" max="100">
        </div>
      </div>
      <!--Answers Tab End-->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="updateQuestions();c('Close click')">Close</button>
        <!--The save button will save/update a question so long as all of the fields have been filled and display a message that the question has been saved-->
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="saveModal" (click)=" addNewQuestion();c('Close click')">Save</button>
        <br>
      </div>
    </form>
    <!--Question Form End-->
  </div>
</ng-template>
<!--Ending of the add new question modal -->

<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">Delete</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body" *ngIf="question">
      Are you sure you wish to delete this question?
      <br>
      Question: {{question.questionText}}
      <br>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
      <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="editQuestion(question);deleteQuestion();c('Close click')">Delete</button>
    </div>
  </ng-template>