/* #############################
        MODAL STYLES
        (Straight stolen from candidates-screening-list)
############################# */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    margin: auto;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.583); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 300px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 350px; /* Could be more or less, depending on screen size */
}
h2{
    
    font-size: 1.25rem;
    margin-bottom: 15px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.btn{
    background: #f26925;
    color: white;
    font-weight: strong;
}


.navbar{
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

