<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light display-front nav-pad"  *ngIf="nav.visible">
  <div class="navbar-header c-pointer shift-left">
    <img  class="img-adjust-position" routerLink="/dashboard" class="rev-logo" src="assets/rev-logo.png" alt="revature">
  </div>

  <button class="navbar-toggler c-pointer shift-right" (click)="toggleCollapse()" aria-label="Toggle navigation">
    <span class="current-app-position">{{currentApp}}</span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">

    <!-- <ul class="navbar-nav mr-auto module-select">
      <li ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle c-pointer janus-links-collapse-support shift-down" id="dropdownBasic1" ngbDropdownToggle>{{currentApp}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" (click)="toggleCollapse()">
          <a *ngFor="let app of apps" class="dropdown-item dropdown-size" [routerLink]="app.homeUrl" (click)="keepLinkActive()"> {{ app.name }} </a>
        </div>
      </li>
    </ul> -->

    <ul class="navbar-nav ml-auto margin-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="activeLink">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="settings/main">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="login">Logout</a>
    </li>
    </ul>
  </div>
</nav>
