/* #############################
        MODAL STYLES
        (Straight stolen from candidates-screening-list)
############################# */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    margin: auto;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.583); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 300px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 350px; /* Could be more or less, depending on screen size */
}
h2{
    font-size: 1.25em;
    margin-bottom: 15px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.btn{
    background: #f26925;
    color: white;
    font-weight: strong;
}

.button {
    padding: 10px;
    color: white !important;
    font-size: 20px;
    border-radius: 0px;
    background: #f26925;
    border: 0px solid #f26925;
    margin: 5px;
}

.nav-link
{
    text-align:left;
    margin-right: 0px;
    margin-left: 2px;
    padding-left: 20px;
    width: 150px;
}

li a:hover
{
    
   border-radius: 5px;
   -webkit-box-shadow: -7px 0px 10px 0px rgba(245, 179, 179, 0.815), 7px 0px 10px 0px rgba(245, 179, 179, 0.815);
   -moz-box-shadow: -7px 0px 20px 0px rgba(245, 179, 179, 0.815), 7px 0px 20px 0px rgba(245, 179, 179, 0.815);
   box-shadow: -7px 0px 10px 0px rgba(245, 179, 179, 0.815), rgba(245, 179, 179, 0.815)rgba(255, 255, 255, 0.664); 
   background-color:  #f26925;
   transition-duration: .75s;
}

.navbar{
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    
}
/* .dropdown-menu{
   
} */
li.nav-item.dropdown {
  margin-right: 150px;
  width: 150px;
  position: relative;
}
/* ::after {
    width: 50%;
    margin-right: 50px;
} */
li.nav-item {
    width: 30px !important;
    margin-right: 50px;
}
.li.nav-item.dropdown.show {
    width: 300px;

}
.nav-link.dropdown-toggle.button {
    width: 200px;
    margin-right: 50px;
    
}
.nav-link.dropdown-toggle.button {
    margin-right: 20px; 
}
a#navbarDropdown.nav-link.dropdown-toggle.button {
    width: 150px;
    
}