.bucket-header
{
  background-color: #6c757d;
  text-align: left;
  color:  #FFFFFF;
}

i {
  margin-right: 10px;
}

h3{
  text-align:left;
  background-color: #F5F5F5;
  color:#FFFFFF;
  padding-left: 15px;
  padding-top: 10px;

}

#bucket-desc{
  padding-left:15px;
  color: #FFFFFF;
}

h6 {
  text-align: center;
}
  
#xIcon {
  color: #F26925;
  margin-left: 10px;
}
  
#penIcon {
  color: #F26925;
}

.revatureOrange{
  background-color: #F26925;
}  
.card-width{
  width: 85%;
  height: 50%;
}
.card-height{
  height: 25%;
}

.btn{
  /*background-color:#c6c6c6;*/
  /*text-align: left;*/
    /*text-align: right;*/
    /*color:  #000000;*/
    cursor: pointer;
    cursor: hand;
    padding-right: 15px;
    padding-top: 10px;
  
}
/*
#back-to-buckets {
  text-align: right;
  color:  #000000;
  cursor: pointer;
  cursor: hand;
  padding-right: 15px;
  padding-top: 10px;
}*/


