<!-- skillTypeBuckets list  -->
<div id="ABcontent" class="container">
    <div class="row justify-content-center">
      <div class="card w-100">
  
        <h6 class="card-header">All Categories</h6>
  
        <div class="card-body" id="allSkillTypesDiv">
        <!--  <div class="form-group row">
            <div class="col-sm-12">
              <!--A search bar to help sift through the unadded tags for when the amount of tags is increased
              <input type="text" name="bucket" [(ngModel)]="filter.bucketCategory" placeholder="Search Categories" min="0"
                max="100" class="form-control">
            </div>
          </div> -->
  
          <!-- List of all buckets -->
          <div class="list-group">
            <!-- clickable to route to Bucket -->
            <!--* routeToBucket() -->
            <a class="list-group-item list-group-item-action" *ngFor="let bucket of buckets" (click)="routeToBucket(bucket);">
            <!--  <b>{{bucket.bucketCategory}}</b>
              <br> -->
              <!--* editBucket(bucket), passes the bucket selected to component side.
                  * open(edit), calls modal to open. -->
              <div class="col-sm" (click)="$event.cancelBubble=true; ">
                <i id="xIcon">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="bucket.isActive" (change)="updateBucket(bucket);">
                    <span class="slider round" placement="top" ngbTooltip="active"></span>
                  </label>
                </i>
              </div>
              <a>{{bucket.bucketDescription}}  </a>
              <i id="penIcon" class="fas fa-pencil-alt pull-right" (click)="editBucket(bucket); open(edit)" placement="right"
              ngbTooltip="edit">
            </i>
            </a>
            
          </div>
  
        </div>
  
        <!--* 'open(create)' -->
        <button type="button" class="btn btn-primary btn-sm" (click)="open(create)">Create New Category</button>
      </div>
    </div>
  </div>
  
  <!--Edit Bucket modal -->
  <!--* Editable name, description -->
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">Edit Category</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="currBucket.bucketCategory" [ngModelOptions]="{standalone: true}" />
          <br>
          <label>Description:</label>
          <br>
          <textarea class="form-control" type="text" [(ngModel)]="currBucket.bucketDescription" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </form>
    </div>
  
    <div class="modal-footer">
      <!--* updateBucket(), updates the selected bucket to update database -->
      <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="c('Close click')">Cancel</button>
      <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="updateBucket(); c('Close click')">Update</button>
    </div>
  </ng-template>
  
  <!--Create Bucket modal -->
  <!--* Create name, description -->
  <ng-template #create let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">Create</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="newBucket.bucketDescription" [ngModelOptions]="{standalone: true}" />
          <br>
        </div>
      </form>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
      <!--* create(), creates new bucket in the database -->
      <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="createBucket(); c('Close click')">Create</button>
    </div>
  </ng-template>