<!-- skillTypeBuckets list  -->
<div id="ABcontent" class="container">
  <div class="row justify-content-center">
    <div class="card w-100">

      <h6 class="card-header">All Categories</h6>

      <div class="card-body" id="allSkillTypesDiv">
       <div class="form-group row">
          <div class="col-sm-12">
          <div class="filters">
            <!-- Search Bar -->
            <input [(ngModel)]="searchText" placeholder="Search Categories" class="search-bar">
          </div>
          </div>
        </div>

        <!-- List of all buckets -->
        <div class="list-group">
          <!-- clickable to route to Bucket -->
          <!--* routeToBucket() -->
          <a class="list-group-item list-group-item-action" *ngFor="let bucket of buckets | bucketFilter: searchText" (click)="routeToBucket(bucket);">
            <b>{{bucket.bucketCategory}}</b>
            <br>
            <small>{{bucket.bucketDescription}}</small>

            <!--* editBucket(bucket), passes the bucket selected to component side.
                * open(edit), calls modal to open. -->
            <div class="col-sm" (click)="$event.cancelBubble=true; ">
              <i id="xIcon">
                <i id="penIcon" class="fas fa-pencil-alt pull-right" (click)="editBucket(bucket); open(edit)" placement="top"
                  ngbTooltip="edit">
                </i>
                <i id="traIcon" class="fas fa-trash-alt pull-right" (click)="editBucket(bucket);open(delete)" placement="top" 
                  ngbTooltip="delete">
                </i>                
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="bucket.isActive" (change)="updateBucket(bucket);">
                  <span class="slider round" placement="top" ngbTooltip="deactivate" *ngIf="bucket.isActive"></span>
                  <span class="slider round" placement="top" ngbTooltip="activate" *ngIf="!bucket.isActive"></span>
                </label>
              </i>
            </div>
          </a>
        </div>
      </div>

      <!--* 'open(create)' -->
      <button type="button" class="btn btn-primary btn-sm" (click)="open(create)">Create New Category</button>
    </div>
  </div>
</div>

<!--Edit Bucket modal -->
<!--* Editable name, description -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title">Edit Category</h6>
    <button type="button" class="close" aria-label="Close" (click)="getBuckets();d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Name:</label>
        <br>
        <input class="form-control" type="text" [(ngModel)]="currBucket.bucketCategory" [ngModelOptions]="{standalone: true}"/>
        <br>
        <label>Description:</label>
        <br>
        <textarea class="form-control" type="text" name="description" [(ngModel)]="currBucket.bucketDescription" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <!--* updateBucket(), updates the selected bucket to update database -->
    <button type="button" data-dismiss="modal" class="btn btn-danger" aria-label="Cancel" (click)="getBuckets();d('Cross click')">Cancel</button>
    <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="updateBucket(); c('Submit click')">Submit</button>
  </div>
</ng-template>

<!--Create Bucket modal -->
<!--* Create name, description -->
<ng-template #create let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title">Create</h6>
    <button type="button" class="close" aria-label="Close" (click)="getBuckets();d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Name:</label>
        <br>
        <input class="form-control" id="createInput" type="text" [(ngModel)]="newBucket.bucketDescription" [ngModelOptions]="{standalone: true}" />
        <br>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="getBuckets();c('Close click')">Close</button>
    <!--* create(), creates new bucket in the database -->
    <button type="button" id="createButton" data-dismiss="modal" class="btn btn-primary" (click)="createBucket(); c('Close click')">Create</button>
  </div>
</ng-template>

<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title">Delete</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="currBucket">
    Are you sure you wish to delete this category?
    <br>
    <br>
    Name: {{currBucket.bucketDescription}}
    <br>
  </div>

  <div class="modal-footer" *ngIf="currBucket">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
    <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="deleteBucket();c('Close click')">Delete</button>
  </div>
</ng-template>