.btn-update {
    background-color: #F26925;
    color: white;
}

.btn-secondary {
    background-color: white;
    color: #F26925; 
    border-bottom: 1px solid #ebe8e8;
    border-color: white;
    padding: 10px;
}

.btn-secondary:hover {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #23527c;
    transition: 1s;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

